/* ---------------Alan--------------- */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* ---------------Alan--------------- */
/*в стиль писать css только если делать именно общий вид для всего сайта*/
/*в pages только для определенной вкладки*/